<div class="home-container">
  <div class="connection-container">

    <div class="servers-container" *ngIf="!connected">
      <h3>Connect to a cluster of servers</h3>
      <div *ngFor="let server of connection.nodes; index as i" class="server-container">
        <!--host-->
        <mat-form-field appearance="fill" style="flex-grow:2">
          <mat-label>hostname</mat-label>
          <input matInput type="text" [(ngModel)]="server.host">
          <mat-hint>may be DNS name or IP address</mat-hint>
          <button *ngIf="server.host" matSuffix mat-icon-button aria-label="Clear" (click)="server.host=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!--port-->
        <mat-form-field appearance="fill">
          <mat-label>port</mat-label>
          <input matInput type="number" [(ngModel)]="server.port">
          <mat-hint>TCP port</mat-hint>
        </mat-form-field>
        <!--add/remove-->
        <button *ngIf="i==0" class="server-button" mat-mini-fab color="primary"
          aria-label="add" (click)="addServer()"  matTooltip="Add a server">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="i!=0" class="server-button" mat-mini-fab color="warn"
          aria-label="remove" (click)="removeServer(server)" matTooltip="remove this server">
          <mat-icon>remove</mat-icon>
        </button>

      </div>
    </div>
    <div class="actions-container" *ngIf="!connected">      
        <button mat-raised-button color="primary" aria-label="Connect"  matTooltip="connect to cluster" [disabled] = "!canConnect" (click) = "connect()">
            <mat-icon>electrical_services</mat-icon>
        </button>        
    </div>
    <div class="status-container" *ngIf="connected">
      <mat-form-field appearance="outline" style="min-width: 50rem;">
        <mat-label>connection string</mat-label>
        <input matInput [ngModel] = "connectionString" [disabled]="true">
        <mat-hint>copy to use it in your code</mat-hint>
        <button *ngIf="connectionString" matSuffix mat-icon-button aria-label="Copy" [cdkCopyToClipboard]="connectionString">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <button mat-fab color="warn" aria-label="Disconnect"  matTooltip="disconnect" class="server-button" (click) = "disconnect()">
        <mat-icon>electrical_services</mat-icon>
    </button>
    </div>
  </div>
  <div  *ngIf="connected" class="cluster-container">
    <div *ngFor="let node of clusterInformation.serversStatus" [ngClass] = "{'server-info-not-persistent':!node.isReadOnly&&!node.isPersistent,'server-info-readonly':node.isReadOnly, 'server-info':!node.isReadOnly}">
      <h3>{{node.host}}</h3>
      <table>
        
        <tr>
          <td>Cluster</td><td>{{node.clusterName}}</td>
        </tr>
        <tr>
          <td>Port</td><td>{{node.port}}</td>
        </tr>
        <tr>
          <td>Startup time</td><td>{{node.startTime|date:'short'}}</td>
        </tr>
        <tr>
          <td>Threads</td><td>{{node.threads}}</td>
        </tr>
        <tr>
          <td>Software version</td><td>{{node.softwareVersion}}</td>
        </tr>
        <tr>
          <td>Connected clients</td><td>{{node.connectedClients}}</td>
        </tr>
        <tr>
          <td>Transaction lag</td><td>{{node.transactionLag}}</td>
        </tr>
        <tr>
          <td>Is persistent</td><td>{{node.isPersistent}}</td>
        </tr>
        <tr>
          <td>Is read-only</td><td>{{node.isReadOnly}}</td>
        </tr>
        <tr>
          <td>Memory limit</td><td>{{node.memoryLimitInGigabytes }} GB</td>
        </tr>
        <tr>
          <td>Used memory</td><td>{{node.workingSet|formatSize:false }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="collections-container">

  </div>

</div>