<mat-card class="collection-card">
  <mat-card-header class="card-title">
    <mat-card-title [tooltip]="name!">{{name|uppercase}}</mat-card-title>
    <mat-card-subtitle>{{items}}&nbsp;objects</mat-card-subtitle>
  </mat-card-header>



  <img *ngIf="layout=='Flat'" mat-card-image src="../../assets/flat.png" alt="flat layout" [tooltip]="helpService.tooltip('layout.flat')" triggers="mouseenter:mouseleave" >
  <img *ngIf="layout=='Default'" mat-card-image src="../../assets/default.png" alt="default layout" [tooltip]="helpService.tooltip('layout.default')" triggers="mouseenter:mouseleave" >
  <img *ngIf="layout=='Compressed'" mat-card-image src="../../assets/compressed.png" alt="compressed layout" [tooltip]="helpService.tooltip('layout.compressed')" triggers="mouseenter:mouseleave" >

  <table style="font-weight: lighter; min-width: 100%; padding: 1rem;">

    <tr>
      <td>Eviction</td>
      <td>{{eviction|evictionShortName}}</td>
    </tr>
    <tr>
      <td>Full-text</td>
      <td>{{fullText}}</td>
    </tr>
  </table>
  <mat-card-content>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="viewSchema(name)">SCHEMA</button>
    <button mat-button (click)="viewData(name)">DATA</button>
  </mat-card-actions>
</mat-card>
