.collection-card {
    min-width: 200px;
  }
  
  .collection-header-image {
   
    background-size: cover;
    background-repeat: no-repeat;
  }

  .flat-image {
    background-image: url('../../assets/flat.png');    
  }

  .default-image {
    background-image: url('../../assets/compressed.png');    
  }
/* 
  .mat-card-header{
    background-color:gold ;
    padding:5px ;
  }
  
   .mat-card{
    padding:0 ;
  }
  
  .mat-card-content{
    padding:5px ;
  } */