.collection-card {
  min-width: 200px;
  max-width: 200px;
}

.card-title ::ng-deep *{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.collection-header-image {

  background-size: cover;
  background-repeat: no-repeat;
}

.flat-image {
  background-image: url('../../assets/flat.png');
}

.default-image {
  background-image: url('../../assets/compressed.png');
}

