.query-container{
    display: flex;
    direction: row;
    gap:3px;
    
}

/* mat-option:nth-child(2)  .mat-pseudo-checkbox{
    display: none;
} */

::ng-deep .mat-option.clear .mat-pseudo-checkbox{ display: none; }