<div>
    <mat-form-field appearance="fill" style="min-width: 100%;">
        <mat-label>{{label}}</mat-label>
        <mat-select placeholder="Value(s)" [multiple]="!singleValue" [(ngModel)]="selection" #multiSelect>
            <!--search box only if more than 10 values (by default)-->
            <mat-option *ngIf="allValues.length > searchThreshold">
                <ngx-mat-select-search [(ngModel)]="searchText" placeholderLabel="Search..."
                    noEntriesFoundLabel="'no matching value'"></ngx-mat-select-search>
            </mat-option>
            <mat-option class="clear" *ngIf="canSelectAll || canClearAll">
                <mat-icon *ngIf="canClearAll" (click)="clearAll();$event.stopPropagation()" fontIcon="clear_all" style="color: red;"
                    tooltip="clear selection"></mat-icon>
                <mat-icon *ngIf="canSelectAll" (click)="selectAll();$event.stopPropagation()" fontIcon="done_all" style="color: green;"
                    tooltip="select all"></mat-icon>
            </mat-option>
            <mat-option *ngFor="let val of filteredValues" [value]="val">
                {{val}}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="hint">{{hint}}</mat-hint>

        <button mat-button *ngIf="selectedValues.length > 0 && clearButton" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear(); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>