/* You can add global styles to this file, and also import other style files */



/* Provide sufficient contrast against white background */
a {
  color: wheat;
}

code {
  color: #e01a76;
}


html, body { height: 100%; }
body {
  
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
 
}



/*-----------------------------navbar----------------------------------*/

.sidenav-container {
  height: 93vh;
  
}
.sidenav-content {
  display: flex;
  height: 100%;  
  justify-content: center;
  
}
.simple-sidenav {
   user-select: none;   
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

/*-----------------------------sncakbar----------------------------------*/

.green-snackbar {
  background: rgb(65, 134, 65);
  color: white;
  align-content: center;
  
}
.green-snackbar button {
  background-color: rgb(65, 134, 65);
  color: white;
  border: none;
}

.green-snackbar span {
  margin:auto;
  text-align: center;
}

.red-snackbar {
  background: #F44336;
  color: white;
}

.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}

.red-snackbar span {
  margin:auto;
  text-align: center;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

/*---------------------------------------------table----------------------*/

section.ngx-json-viewer{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

  .cell-expand{
      vertical-align: top;
  }

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  min-width: 50rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  table-layout: auto;
}

.row {
  display: table-row;    
  background: #f6f6f6;
}

.row-json {
  display: inline;
  flex-direction: row;    
  background: darkgrey;
}

.row > * {
  width: inherit;
}
.row:nth-of-type(odd) { 
  background: #e9e9e9;
}
.row.header { 
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}

.row.black {
  background: #111111;
}
.row.blue {
  background: #2980b9;
}


td {
  padding: 6px 12px;
  display: table-cell;
  padding: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
}

.cell{
  background-color: transparent;
}

th{
  padding: 0.5rem;
  font-weight: 500;
}


/*-----------------------------------*/
