.data-root{
    display: flex;
    flex-direction: column;
    gap:5px; 
    max-height: 100%;  
}

.query-container{
    display: flex;
    direction: row;
    gap:3px;
    margin-top: 0.5rem;
}

.params-container{
  display: flex;
  direction: row;
  align-items: baseline;
  gap:3px;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-container{
    display: flex;
    direction: column;
    overflow: scroll;
    border-radius: 6px;
    margin-top: 0.5rem;
    padding: 1rem;
    flex-grow: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data-selection-container{
    display: flex;
    flex-direction: row;
    gap:3px;    
}

.sql-container{
    
    padding: 1rem;  
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Consolas;
    white-space: pre-wrap;
    position: relative;    
}

.sql-copy{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.json-copy{
    position: absolute;
    top: -7px;
    right: 2px;
}

