@import '../../variables.scss';

:host{  
  min-width: 90%;
  padding: 1rem;
}
.data-root{
    display: flex;
    flex-direction: column;
    gap:1px; 
    max-height: 100%;
}

.query-container{
    display: flex;
    flex-wrap: wrap;
    direction: row;
    gap:2px;
    margin-top: 0.5rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap:3px;
  @include borders;
  
}

.params-container{
  display: flex;
  flex-wrap: wrap;
  direction: row;
  align-items: baseline;
  gap:3px;
  padding: 1rem;
  border-radius: 0 0 6px 6px;  
  
}

.toolbar-item{
  background-color: aqua;
  font-size: 1rem;
}

.result-container{
    display: flex;
    direction: column;
    overflow: auto;
    @include borders;
    margin-top: 1rem;
    flex-grow: 2;
   
}

.data-selection-container{
    display: flex;
    flex-direction: row;
    gap:3px;    
    @include borders;
    padding-bottom: 0.5rem;
}

.sql-container{
    
    padding: 0.5rem;  
    border-radius: 0 6px 0 0;   
    font-family: Consolas;
    white-space: pre-wrap;
    position: relative;    
}

.sql-copy{
    position: absolute;
    top: 0;
    right: 0.2rem;
}

.json-copy{
    position: absolute;
    top: -7px;
    right: 2px;
}

.action-button{
    /* font-size: 3rem; */
    height: 3.5rem;
    margin-left: 1rem;
    margin-top: 2px;
    /* margin-top: 5px; */
}

.file-input {
    display: none;
  }

  .file-upload{
    margin-left: 1rem;
    margin-top: 0.6rem;
  }

  .file-download{
    margin-left: 1rem;
    margin-top: 0.6rem;
  }

  .actions{
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .info-cell{
    color: lightblue;
    min-width: 12rem;
    padding: 5px;
  }

  

  ::ng-deep .tooltip-left {
    text-align: left;
    padding: 1rem ;
}

mat-divider.style-fix {
  height: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

  