.data-root{
    display: flex;
    flex-direction: column;   
}

.query-container{
    display: flex;
    direction: row;
    gap:3px;
}

.result-container{
    display: flex;
    direction: column;
}

.data-selection-container{
    display: flex;
    flex-direction: row;    
}