<div class="data-root">

    <div class="data-selection-container">
        <mat-form-field appearance="fill">
            <mat-label>Collections</mat-label>
            <mat-select [(value)]="selectedCollection">
                <mat-option *ngFor="let collection of collections" [value]="collection">
                    {{collection|uppercase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="query-container" *ngIf="schema">
        <app-and-query [collection]="selectedCollection" [properties]="properties" [(query)] = "currentQuery" >
        </app-and-query>    
        <div class="sql-container">
            
            <p>{{sql}}</p>
            
        </div>
    </div>

    
    

    
    <div class="result-container">
       

            <div class="table" *ngIf="schema">

                <div class="row header black">
                    <div class="cell" *ngFor="let col of schema.serverSide">
                        {{col.name}}
                    </div>
                    

                </div>

                <div class="row" *ngFor="let r of data">
                    <div class="cell" *ngFor="let col of schema.serverSide">
                        {{r[col.name]}}
                    </div>

                </div>
            </div>
        
    </div>

</div>