<div class="data-root">

    <ng-template #TooltipExport>
        <div>
            <p style="font-size: larger;color: blue;">Export result</p>
            <p>Download query result as a json file</p>
        </div>
    </ng-template>

    <div class="data-selection-container">
        <!--collection selection-->
        <mat-form-field appearance="fill">
            <mat-label>Collections</mat-label>
            <mat-select [(value)]="selectedCollection">
                <mat-option *ngFor="let collection of collections" [value]="collection">
                    {{collection|uppercase}}
                </mat-option>
            </mat-select>
            <mat-hint>select the collection</mat-hint>
        </mat-form-field>

        <!--full-text search (if enabled on the current collection)-->
        <mat-form-field appearance="fill" *ngIf="schema && schema.fullText.length > 0" style="flex-grow:2">
            <mat-label>Full-text search</mat-label>
            <input matInput placeholder="rue de l'Amour" [(ngModel)]="fullTextQuery">
            <mat-hint>the best matches will be shown first (explicit order by is ignored)</mat-hint>
            <button mat-button *ngIf="fullTextQuery" matSuffix mat-icon-button aria-label="Clear"
                (click)="fullTextQuery=undefined; $event.stopPropagation(); search()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button *ngIf="fullTextQuery" matSuffix mat-icon-button aria-label="Search" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    
    <!--QUERY both structured and translated to sql-->
    <div class="query-container" *ngIf="schema">
        <app-and-query [collection]="selectedCollection" [properties]="properties" [(query)]="currentQuery"
            style="flex-grow: 2;">
        </app-and-query>
        <div class="sql-container" style="flex-grow: 1;">

            <p>{{sql}}</p>
            <button class="sql-copy" *ngIf="sql" matSuffix mat-icon-button aria-label="Copy" [cdkCopyToClipboard]="sql">
                <mat-icon>content_copy</mat-icon>
            </button>
        </div>
    </div>

    <!--other params like visible columns and order-by-->
    <div class="params-container" *ngIf="schema">
        <app-smart-multi-select [(selectedValues)]="visibleColumns" [allValues]="properties" [canSelectAll]="true"
            [canClearAll]="true" [hint]="'select visible columns'" label="Columns"
            style="flex-grow: 2; min-width: 20rem;"></app-smart-multi-select>

        <app-smart-multi-select [singleValue]="true" [(selectedValues)]="take" [allValues]="['10','50','100', '1000']"
            [hint]="'limit displayed items'" label="Take">
        </app-smart-multi-select>

        <app-smart-multi-select *ngIf="orderByProperties.length" [singleValue]="true" [(selectedValues)]="orderBy"
            [allValues]="orderByProperties" [clearButton]="true"
            [hint]="'select column to order by (must be ordered index)'" label="Order by">
        </app-smart-multi-select>
        <div *ngIf="orderBy.length > 0" style="min-width: 8rem;">
            <mat-slide-toggle [(ngModel)]="descending">{{descending?'descending':'ascending'}}</mat-slide-toggle>
        </div>



    </div>

    <div class="actions">
        <div class="file-download">
            <button mat-mini-fab color="primary" aria-label="export" (click)="exportJson()" [ngbPopover]="TooltipExport"
                triggers="mouseenter:mouseleave">
                <mat-icon>ios_share</mat-icon>
            </button>
            <mat-checkbox style="margin: 1rem;" [(ngModel)]="ignoreLimit">ignore limit</mat-checkbox>

        </div>
        
        <mat-divider [vertical]="true" style="margin:1rem"></mat-divider>

        <!--upload is disabled on system collections (starting with @)-->
        <ng-container *ngIf="!selectedCollection?.startsWith('@')">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{fileName || "Select json file to import"}}

                <button style="margin-left: 0.5rem;" mat-mini-fab color="warn" class="upload-btn"
                    (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="working"></mat-progress-bar>
    <!--result of the query-->

    <div class="result-container" *ngIf="data.length > 0">

        <table *ngIf="schema" class="table">
            <!--header-->
            <thead class="row header black mat-primary">
                <th class="cell"></th>
                <th class="cell"></th>
                <th class="cell" *ngFor="let col of visibleColumns">
                    {{col}}
                </th>
            </thead>
            <!--data-->
            <tr *ngFor="let r of data" class="row">

                <td class="cell-expand">
                    {{r['#']}}
                </td>
                <td class="cell-expand">
                    <span>
                        <mat-slide-toggle [(ngModel)]="r['#json']">json</mat-slide-toggle>
                        <!-- <mat-icon class="primary" *ngIf="!r['#json']" style="color: blue;overflow: visible;"
                            (click)="switchDisplay(r)">
                            control_point</mat-icon>
                        <mat-icon *ngIf="r['#json']" style="color: green;;overflow: visible" (click)="switchDisplay(r)">
                            code</mat-icon> -->
                    </span>
                </td>
                <ng-container *ngIf="!r['#json']">
                    <td *ngFor="let col of visibleColumns">
                        {{r[col]}}
                    </td>
                </ng-container>
                <ng-container *ngIf="r['#json']">
                    <td style="padding: 1rem;background-color: white;position:relative"
                        [attr.colspan]="visibleColumns.length">
                        <button class="json-copy" *ngIf="sql" matSuffix mat-icon-button aria-label="Copy"
                            [cdkCopyToClipboard]="asJson(r)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <ngx-json-viewer [json]="cleanup(r)" style="border: 1px;"></ngx-json-viewer>
                    </td>

                </ng-container>
            </tr>
        </table>

    </div>

</div>