.and-query-container{
    display: flex;
    flex-direction: column;
    gap:3px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.query-line{
    display: flex;
    flex-direction: row;
    gap:3px;
}

.header{
    display: flex;
    flex-direction: row;
    gap:1rem;
}