@import '../../variables.scss';

:host{  
  min-width: 90%;
  padding: 1rem;
}

.admin-root{
    display: flex;
    flex-direction: column;
    gap:3px;
}

.backup-dir{
    display: flex;
    flex-direction: row;
    gap:3px;
}

.actions{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap:3px;
    align-items: baseline;
}

.backup-list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
    @include borders;
}


.dangerous-actions{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top: 1rem;
    
    background-position-x: 210px;
    background-position-y:-100px ;
    background-image: url('../../assets/warning.png');
    background-size:cover ;
    background-repeat: no-repeat;
    padding: 1rem;
    @include borders;

}

.dangerous-button{
    margin-left: 2rem;
    min-width: 12rem;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}

.confirm{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 30rem;
    height:10rem;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.confirm-section{
    display: flex;
    flex-direction: column;

}

.header{
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}


:host ::ng-deep .popover {
    background-color: #FFFF99;
    opacity: 1;    
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2), 4px 4px 14px 0 rgba(0, 0, 0, 0.19);
    max-width: 50rem;
  }

  :host ::ng-deep .popover h3{
    font-size: larger;
    font-weight: bold;
    color: #222222;
  }





